
    @font-face {
        font-family: 'Nunito Sans';
        src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf');
    }
    body {
        font-family: 'Nunito Sans';
        margin: 0px;
    }
    header {
        position: fixed;
    
        background-color: #0f0f0f;
    
        width: 100vw;
    
        display: grid;
        grid-template-columns: auto 300px;
        grid-template-rows: 45px;
    
        vertical-align: middle;
        text-align: center;
    
        color: #fff;
    
        z-index: 5000;
    }
    img {
        height: 30px;
        padding: 10px;
    }
    .titleGroup {
        display: grid;
        grid-template-columns: max-content auto;
    }
    nav h3 {
        margin: 0px;
        padding-top: 5px;
        padding-left: 20px;
    }
    .logo {
        text-align: left;
        margin: 0px;
        padding-top: 10px;
    }
    .menu:after {
        content: '+';
        /* Unicode +*/
        font-size: 13px;
        color: white;
        float: right;
        margin-right: 40px;
        margin-top: 5px;
    }
    .active:after {
        content: "-";
        /* Unicode - */
    }
    .menuGroup {
        color: #fff;
        background-color: #2b2b2b;
    
        position: absolute;
        right: 0px;
    
        text-align: left;
        width: 300px;
        height: 100%;
    }
    .menu {

        color: #fff;
        cursor: pointer;
        border: none;
        text-align: left;
        outline: none;
    
        padding-left: 20px;
        padding-top: 10px;
    
        height: 35px;
    }
    .menuContent {
        margin: 0px;
        background-color: #2b2b2b;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        color: #fff;
    }
    a{
        text-decoration: none;
        color: #fff;
    
        height: 30px;
        padding: 10px;
        padding-left: 20px;
        
    }
    a:hover{
        text-decoration: none;
        background-color: transparent;
        background-color: #0f0f0f38;
    }
    @media screen and (max-width: 560px) {

        header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px;
            column-gap: 0px;
        }
    
        .logo {
            display: none;
        }
    }
    @media screen and (max-width: 500px) {

        .logoImg {
            display: none;
        }
    
        .menuGroup {
            width: 100%;
        }
    
        .menuContent {
            width: 100vw;
        }

        header{
            font-size: 14px;
        }
    }

    .loginRegister{
        background-color: #ffffff0e;
        margin: 0px;
    }
        